<mat-card>
  <a routerLink="/view1">Go View 1</a>
  <div>
    <app-filter-search (filter)="onFilter($event)"
                       (search)="onSearch($event)">
    </app-filter-search>
    <span>Filtered Products:</span>
    <li *ngFor="let each of filtered_products">
      <span (click)="onSelectById(each.id)">{{each.name}}</span>
    </li>
  </div>
</mat-card>
<p></p>

<mat-card>
  <p>reactive form control example</p>
  <label>
    Name:
    <input type="text" [formControl]="name">
  </label>
  <div> Value: {{ name.value }}</div>
  <div>
    <button (click)="resetName()">reset</button>
  </div>
</mat-card>
<p></p>

