<div>
  <mat-card>
    <a routerLink="/view2">Go View 2</a>
    <div class="margin">
      <form #productForm="ngForm">
        <p>
          Product name*: <input type="text" name="product" [(ngModel)]="new_product.name" #el1="ngModel" required/>
          <span class="error" [hidden]="el1.valid || el1.pristine">entry not valid</span>
          <button (click)="onSubmit(); productForm.reset()" [disabled]="!productForm.form.valid">Add Product</button>
        </p>
      </form>
    </div>
    <app-filter-search (filter)="onFilter($event)"
                       (search)="onSearch($event)">
    </app-filter-search>
  </mat-card>
</div>

<p *ngIf="ts">product timestamp updated to {{ts}}</p>

<div *ngFor="let product of filtered_products">
  <app-product [title]="product.name" (date)="ts = $event">
    <div>some parent content</div>
  </app-product>
</div>
