div {
  border: solid 1px blue;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.routed {
  float: right;
  width: 46%;
  display: inline-block;
}

.left {
  float: left;
  width: 46%;
  display: inline-block;
}
