div.border {
  border: solid 1px blue;
}

div.align {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.right {
  float: right;
  width: 46%;
  display: inline-block;
}

.left {
  float: left;
  width: 46%;
  display: inline-block;
}
