<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="300px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>product component</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          title from bound input prop attribute: '{{title}}'
        </div>
        <div>timestamp: {{ts}}</div>
        <button type="button" (click)="handleClick($event)">Update Timestamp</button>
        <ng-content> <!-- no other content allowed here but comment or whitespace--> </ng-content>
        <ng-content><!-- second ng-content is ignored --></ng-content>
        <div>ajax title: {{ajaxTitle}}</div>
        <div>ajax title 2: {{ajaxTitle2}}</div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
